<div class="container">
    <h1>Sign Up</h1>


    <form [formGroup]="myform">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input id="FirstName" type="text"
                   class="form-control"
                   formControlName="firstName" required maxlength="150">
            <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <strong>First Name cannot be empty!</strong>
            </div>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="lastName" required maxlength="150">
            <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <strong>Last Name cannot be empty!</strong>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email"
                   class="form-control"
                   formControlName="email" required id="email" name="email" maxlength="250">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <strong>Wrong email format!</strong>
            </div>
        </div>

        <div class="form-group">
            <label>Activities</label>
            <select class="form-control"
                    formControlName="activity">
                <option value="">Please select an Activity</option>
                <option *ngFor="let activity of activities"
                        [value]="activity">
                    {{activity}}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="activityValidation.invalid && (activityValidation.dirty || activityValidation.touched)">
                <strong>Select an activity!</strong>
            </div>
        </div>

        <div class="form-group">
            <label>Comments</label>
            <input type="text"
                   class="form-control"
                   formControlName="comments" maxlength="1024">
        </div>
        <p>{{myform.email | json}}</p>

    </form>

    <button (click)="Save()" class="btn btn-default" [disabled]="myform.invalid">
        Save
    </button>
    <button [routerLink]="['/']" class="btn btn-primary">
        Cancel
    </button>
</div>